{% extends "activetest/base.html" %} {% load static %}{% load crispy_forms_tags %}{% load rest_framework %} {% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<div class="container">

    <h1>Stock - {{ profile.name }}</h1>

    <form action="#" method="POST">
        <fieldset class="form-group">
            <legend class="text-uppercase text-primary mb-5">Update Stock</legend>

            {% render_form serializer %}

        </fieldset>
        </br>
        <div class="form-group">

            <button type="button" class="btn btn-outline-success">Submit</button>
        </div>
    </form>

</div>

{%endblock%}