{% extends "activetest/base.html" %} {% load static %} {% block content %}
<div class="container">
    <h1>Stocks</h1>
    {% for stock in stock %}

    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">{{ stock.name }}</h6>
                    <p class="mb-0 opacity-75"></p>
                </div>
                <small class="opacity-50 text-nowrap">now</small>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{%endblock%}